ion-toolbar {
    --background: #438DD6;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.light{
    --background: #f4f5f8;
}

.tertiary{
    --background: #7044ff;
}

.text-light{
    color: #f4f5f8;
}

.faces-grid{
    margin-top: 60%;
}
ion-grid{
    padding: 0px;
    margin: 0px;
}
ion-col{
    padding: 0;
}

.rol-2{
    margin-top: 10%
}

.face4{
    margin-left: 20%;
}

.face5{
    margin-right: 20%;
}

.btn-width {
    width: 130px;
}

.text-center{
    margin-bottom: 10px;
}