<ion-header>
  <ion-toolbar>
    <ion-title>feel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="text-align:center" class="background">
    <img src="../../assets/img/background-feel.png" class="logo" />
  </div>

  <ion-grid class="faces-grid">
    <ion-row>
      <ion-col size="4">
        <div style="text-align:center">
          <img src="../../assets/img/face1.png" />
        </div>
      </ion-col>
      <ion-col size="4">
        <div style="text-align:center">
          <img src="../../assets/img/face2.png" />
        </div>
      </ion-col>
      <ion-col size="4">
        <div style="text-align:center">
          <img src="../../assets/img/face3.png" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="rol-2">
      <ion-col size="6">
        <div style="text-align:center" class="face4">
          <img src="../../assets/img/face4.png" />
        </div>
      </ion-col>
      <ion-col size="6">
        <div style="text-align:center" class="face5">
          <img src="../../assets/img/face5.png" />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div text-center>
    <ion-item (click)="selected($event)">
      <ion-button type="submit" class="btn-border-radius btn-width">Salvar</ion-button>
    </ion-item>
  </div>

  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="account" class="tertiary">
        <!-- <ion-icon name="person"></ion-icon> -->
        <ion-label name="criar"> <b class="text-light"> Mood </b> </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="contact" class="light">
        <ion-label name="editar"><b>History</b></ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>