<ion-header>
  <ion-toolbar>
    <ion-title>feeling</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="what-feeling">
    <h3><b>Quais são seus sentimentos?</b></h3>
  </div>

  <div text-center>
    <ion-button color="tertiary" class="btn-border-radius">Selecione mais de um</ion-button>
  </div> -->
  <img src="../../assets/img/background-feeling.jpg" />
  <ion-grid class="faces-grid">
      <ion-row>
        <ion-col size="3">
          <div style="text-align:center">
            <img src="../../assets/icon/face1.png" />
          </div>
        </ion-col>
        <ion-col size="3">
          <div style="text-align:center">
            <img src="../../assets/icon/face2.png" />
          </div>
        </ion-col>
        <ion-col size="3">
          <div style="text-align:center">
            <img src="../../assets/icon/face3.png" />
          </div>
        </ion-col>
        <ion-col size="3">
          <div style="text-align:center">
            <img src="../../assets/icon/face4.png" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <div style="text-align:center">
            <img src="../../assets/icon/face1.png" />
          </div>
        </ion-col>
        <ion-col size="3">
          <div style="text-align:center">
            <img src="../../assets/icon/face2.png" />
          </div>
        </ion-col>
        <ion-col size="3">
          <div style="text-align:center">
            <img src="../../assets/icon/face3.png" />
          </div>
        </ion-col>
        <ion-col size="3">
          <div style="text-align:center">
            <img src="../../assets/icon/face4.png" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <div style="text-align:center">
            <img src="../../assets/icon/face1.png" />
          </div>
        </ion-col>
        <ion-col size="3">
          <div style="text-align:center">
            <img src="../../assets/icon/face2.png" />
          </div>
        </ion-col>
        <ion-col size="3">
          <div style="text-align:center">
            <img src="../../assets/icon/face3.png" />
          </div>
        </ion-col>
        <ion-col size="3">
          <div style="text-align:center">
            <img src="../../assets/icon/face4.png" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <div style="text-align:center">
            <img src="../../assets/icon/face1.png" />
          </div>
        </ion-col>
        <ion-col size="3">
          <div style="text-align:center">
            <img src="../../assets/icon/face2.png" />
          </div>
        </ion-col>
        <ion-col size="3">
          <div style="text-align:center">
            <img src="../../assets/icon/face3.png" />
          </div>
        </ion-col>
        <ion-col size="3">
          <div style="text-align:center">
            <img src="../../assets/icon/face4.png" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  <div class="mood-history">

    <!-- <div text-center>
    </div> -->
    <ion-grid>
      <ion-row>
        <ion-col class="padding-zero">
          <ion-button color="tertiary" class="btn-border-radius btn-width">Outros</ion-button>
        </ion-col>
        <ion-col class="padding-zero">
          <ion-button color="tertiary" class="btn-border-radius btn-width" (click)="next()">Próximo</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="padding-zero">
          <ion-button expand="full" color="tertiary" class="btn-mood-history">Mood</ion-button>
        </ion-col>
        <ion-col class="padding-zero">
          <ion-button expand="full" color="light" class="btn-mood-history">History</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>