<ion-header>
  <ion-toolbar>
    <ion-title>feeling</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" padding>
  <div class="what-feeling">
    <h3><b>Quais são seus sentimentos?</b></h3> 
  </div>

  <div text-center>
    <ion-button color="tertiary" class="btn-border-radius">Selecione mais de um</ion-button>
  </div>
  
  <div class="mood-history">

    <div text-center>
      <ion-button color="tertiary" class="btn-border-radius btn-width">Next</ion-button>
    </div>
    <ion-grid class="">
      <ion-row>
        <ion-col col-6>
          <ion-button expand="full" color="tertiary" class="btn-mood-history">Mood</ion-button>
        </ion-col>
        <ion-col col-6>
          <ion-button expand="full" color="light" class="btn-mood-history">History</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
