ion-textarea{
    width: 100%;
    height: 70px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #EFEEED;
}

.box-text-area {
    margin-top: 20%;
}

ion-toolbar {
    --background: #438DD6;
}

.checked-text{
    margin-top: 12%;
}

ion-button.btn-mood-history{
    margin-left: 0;
    margin-right: 0;
    padding: 0 ;
}

.padding-zero {
    padding: 0 ;
}