ion-content {
    // --background: url('../../assets/img/login.jpg') no-repeat center center / cover;
    --background: url('../../assets/img/background.jpg') no-repeat center center / cover;
}

// .box-login{
//     // margin-top: 50%;
// }

.login-back {
    background-color: #fcf9f9; // #22242B;
    width: 70%;
    padding: 30px;
    padding-top: 45px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.login-icon {
    position: relative;
    top: 30px;
    // --background: url('../../assets/img/login-icon.png') no-repeat center center / cover;
    // background-image: url('../../assets/img/login-icon.png');
}

span.senha{
    color: blue;
}

.box-senha {
    margin: 15px;
}